*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{ 
    width: 100%;
}
header{
    background-color: black;
    height: 73px;
    width :100%;
    min-width: 50%;
    max-width: 100%;
        display: grid; 
        position: fixed;
        z-index: 2;
}

.image{
    position: relative;
    left: 12px;
    top: 9px;
    width: 140px;
    height: 60px;
    
}
img{
    width: 60px;
    height: 20px;
    position: relative;
    left: 30px;


}
@font-face{
    font-family: amazon;
    src: url(../fuentes/fuentedeamazon/itc-officina-sans-bold.otf);
}
.image > .name{
    color: white;
    position: relative;
    top: 5px;
    left: 15px;
    z-index: 2;
    font-family:amazon;
    font-size: 1.9em;
}
.image:hover{
    border: #C8C8CF 1px solid;
    cursor: pointer;
}
i{
    color:white;
    font-size: 22px;
    position: relative;
    top: 25px;
}
.mas{
    color: white;
    position: relative;
    bottom: 50px;
    left: 10em;
    width: 100px;
    height: 60px;
}
.mas:hover{
    border: #C8C8CF 1px solid;
    width: 100px;
    height: 60px;
    cursor: pointer;
}
.text{
    position: relative;
    bottom: 10px;
    left: 20px;
    width: auto;
}
.text-1{
    position: relative;
    bottom: 10px;
    left: 20px;
    width: auto;
    color: #C8C8CF ;
}
select{
    height: 25px;
   background-color: #B2B2BD ;
   width: 80px;
}
select:focus{
    outline: none;
}

.sarch {
    position: relative;
    left: 264px;
    bottom: 90px;
    width: 650px;
    display: grid;
   /* grid-template-columns:"   select                   input                        lupa                            bandera                 box-1                   box-2                   car"/
                            minmax(100px, 200px)       minmax(100px, 200px)       minmax(100px, 200px)             minmax(100px, 200px)    minmax(100px, 200px)    minmax(100px, 200px)   minmax(100px, 200px);
   */ grid-gap:0px ;                        
    max-width: 100%;
    min-width: 40%;
    margin-right: 0px;
     
}

input {
    position: relative;
    left: 90px;
    bottom: 23px;
    display: flex;
    flex: 1 0 140px;
    width: 80%;
    height: 22px;
}

.sarch> input:focus{
    outline: none;
}
.lupa {
    position: relative; 
    top: -48px;
    left:90% ;
    flex: 1 0 140px;
    background-color: orange;
    width: 40px;
    height: 25px;
    z-index: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    float: right;
    border-top-right-radius:12px;
    /*border-top-left-radius:12px;*/
    border-bottom-right-radius:12px;
}
#lupas {
    position: absolute;
    top: 2px;
    left: 6px;
    color: #000;
    font-size:20px;
    z-index: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.bandera{
    position: relative;
    left: 56pc;
    bottom: 170px;
    width: 72px;
    height: 45px;
}
.bandera:hover{
    border: white 1px solid;
    cursor: pointer;
}
.bandera > img{
    width: 25px;
    height: 20px;
    position: relative;
    bottom: -10px;
    left: 5px;
}
.bandera > p{
    color: wheat;
    position: relative;
    left:35px;
    bottom: 12px;
}
.box-1{
    width: 150px;
    height: auto;
    color: black;

}
.box-1:hover{
    border: white 1px solid;
    cursor: pointer;
}
.box-1 > p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    
}
.box-2{
 
   color:white;
    width: 100px;
}
.box-2:hover{
    border: white 1px solid;
    cursor: pointer;
}
.car  {
    color:wheat;
    height: 8vh;
    color: white;
    width: 20px;
    float: right;
}
.car > i{
   position: relative;
   left: 23px;
}
.car > p{
    float: right;
}
.images{
    background-size:cover;
    position: absolute;
    left: 6%;
    top: 23%;
    
}
.main-content{
    width: 90%;
    height: 90%;
    background-color: white;
}
.images > img{
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.images{
    width: 30%;
    height: 20%;
    cursor: pointer;
}
.modal{
    width: 70%;
    height: 500px;
    background-color: white;
    position:absolute;
    left: 200px;
    top:23%;
    z-index: 2;
    border-radius: 12px;
    border: #000 1px solid;
    display: flex;

}
.modal > i{
    position: absolute;
    top: 0;
    color: #000;
    cursor: pointer;
    padding: 23px;
    z-index: 100;
}
.modal >i:hover{
    font-size: 30px;
    transition: 1s;
}
.ocultar{
    display: none;
}
.articulo{
    width:100%;
    height: 100%;
    width:100%;
    height: 100%;

    /*width: 200px;
    height: 200px;*/

    position: absolute;
    left: 120px;
    top: 10vh;
}
.main{
    width: 80%;
 
    height: 200px;
    min-height:200px;
    max-height: 400px;
    display: grid;
    grid-template-columns: repeat( 2,50%);
    grid-template-rows: repeat(2,50%);
    grid-gap: 12px;
    position: absolute;
    left: 50px;
    top: -20px;
}
.main-ocultar{
    display: none;
}
.imagenes{
    display: grid;
    grid-template-columns: repeat(4,minmax(4%, 5%));
    grid-template-rows: repeat(2 ,20px);
    grid-gap: 78px;
    position: absolute;
    top: 38vh;
    left: 53%;
    width: 20%;
    left: 53%;
    width: 20%;

    left: 73%;
    width: 60%;

    min-width: 50%;
    max-width: 100%;
}
.imagen1{
    width: 90px;
    height: 60px;
    border: 12px black;
    cursor: pointer;
}
.imagen1 > img{
    width: 80px;
    height: 50px;

    position: static;
    border: 6px black solid;
    

}
.imagen1:hover{
    box-shadow: 6px 7px 12px 6px black;
   }
.imagen2{
    width: 90px;
    height: 60px;
    border: 12px black;
    cursor: pointer;
}
.imagen2 > img{
    width: 80px;
    height: 50px;

    position: static;
    border: 6px black solid;

}
.imagen2:hover{
    box-shadow: 6px 7px 12px 6px black;
   }

.imagen3{
    width: 90px;
    height: 60px;
    border: 12px black;
    cursor: pointer;
}
.imagen3 > img{
    width: 80px;
    height: 50px;

    position: static;
    border: 6px black solid;

}
.imagen3:hover{
    box-shadow: 6px 7px 12px 6px black;
   }
.imagen4{
    width: 90px;
    height: 60px;
    border: 12px black;
    cursor: pointer;
}
.imagen4 > img{
    width: 80px;
    height: 50px;

    position: static;
    border: 6px black solid;

}
.imagen4:hover{
    box-shadow: 6px 7px 12px 6px black;
   }
.imagen5{
    width: 90px;
    height: 60px;
    border: 12px black;
    cursor: pointer;
}
.imagen5 > img{
    width: 80px;
    height: 50px;

    position: static;
    border: 6px black solid;

}
.imagen5:hover{
    box-shadow: 6px 7px 12px 6px black;
   }

.imagen6{
    width: 90px;
    height: 60px;
    border: 12px black;
    cursor: pointer;
   }
.imagen6 > img{
    width: 80px;
    height: 50px;

    position: static;
    border: 6px black solid;
   }
.imagen7{
    width: 90px;
    height: 60px;
    border: 12px black;
    cursor: pointer;
   }
.imagen7 > img{
    width: 80px;
    height: 50px;

    position: static;
    border: 6px black solid;
   }
.imagen8{
    width: 90px;
    height: 60px;
    border: 12px black;
    cursor: pointer;
   }
.imagen8 > img{
    width: 80px;
    height: 50px;

    position: static;
    border: 6px black solid;
   }
li{
    list-style: none;
}
ul{
    padding-top: 12px;
}
.description{
margin-top: 60px;
font-size: 1.3em;
padding: 12px;
}
.imge1   > img{
    width: 100%;
    height: 100%;

    z-index: -2;
    border-radius: 12px;
    width: 300px;
    max-width: 300px;
    min-width: 200px;
    min-height: 100px;
    height: 200px;
    max-width: 200px;
    z-index: -2;
}
.imge1{
    position: absolute;
    top: 40%;
    left: -7%;
    right: 12vh;
    width: 300px;
    height: 150px;
    min-height: 200px;
    max-height: 500px;
    height: 150px;
    min-height: 200px;
    max-height: 500px;
    height: 200px;


}
.fotos{
    cursor: pointer;
    position: absolute;
    left: 20;
    top: 40px;
    font-size: 18px;
    cursor: pointer;  
}
.fotos-listo{
    border-bottom: 3px orange solid;
    cursor: pointer;
    position: absolute;
    left: 20;
    top: 40px;
    font-size: 18px;  
    cursor: pointer;
}
.videos{
    position: absolute;
    left: 32px;
    top: 40px;
    font-size: 18px;
    cursor: pointer;
    
}
.videos-listo{
    border-bottom: 3px orange solid;
    position: absolute;
    left: 32px;
    top: 40px;
    font-size: 18px;
    cursor: pointer;
}
.imagenes-null{
display: none;
}
.informacion {
    position: absolute;
    left: 59%;
    width: 350px;

    left: 59%;
    width: 350px;
    left: 79%;
    width: 400px;
    height: auto;
}
.selector{
    width: auto;
    height: 10px;
    position: absolute;
    top: 0;
    right:-6vh;
    margin-right: 8%;

    right:-6vh;
    margin-right: 8%;

    right:16vh;
}
#fotos{
 float: left;
}
#videos{
    position: relative;
    left: 100px;
}
.fotos-ocultar{
    display: none;
}
.imagenprincipal{
    display: none;
}

.miniaturas{
    float:left;
    width: auto;
    padding-top: 10%;
    width: 2%;
    z-index: -2;

}
.img1{
    cursor: pointer;
    width: 80px;
    height: 80px;
    transition: opacity 0.5s ease-in-out;
}

.img1 > img{
    width: 80%;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    transition: 2s;
    border-radius: 5px;
    border: 2px brown solid;
    
    
}
.img1 > img:hover{
    transform: scale(1.3);
}
.img2{
    margin-bottom: 12px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    margin-bottom: 52px;
    border-radius: 12px;
}
.img2 > img{
    width: 80%;
    height: 80%;
    overflow: hidden;
    object-fit: cover;
    transition: 2s;
    border-radius: 5px;
    border: 2px brown solid;
}
.img2 > img:hover{
    transform: scale(1.3);
}
.img3{
    margin-bottom: 12px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    margin-bottom: 52px;
}
.img3 > img{
    width: 80%;
    height: 80%;
    overflow: hidden;
    object-fit: cover;
    transition: 2s;
    border-radius: 5px;
    border: 2px brown solid;
}
.img3 > img:hover{
    transform: scale(1.3);
}
.img4{
    margin-bottom: 12px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    margin-bottom: 52px;
}
.img4 > img{
    width: 80%;
    height: 80%;
    overflow: hidden;
    object-fit: cover;
    transition: 2s;
    border-radius: 5px;
    border: 2px brown solid;
}
.img4 > img:hover{
    transform: scale(1.3);
}
.img5{
    margin-bottom: 12px;
    cursor: pointer;
    width: 80px;
    height: 80px;
    margin-bottom: 52px;
}
.img5 > img{
    width: 80%;
    height: 80%;
    overflow: hidden;
    object-fit: cover;
    transition: 2s;
    border-radius: 5px;
    border: 2px brown solid;
}
.img5 > img:hover{
    transform: scale(1.3);
}
.descrpcion1{
   display: grid;
   grid-template-columns: repeat( 1, auto);
   grid-template-rows: repeat(2, auto);
   width: 300px;
   position: absolute;
   left: 80vh;
   top: 100px;
   min-width:200px;
   z-index: -2;
}
.caracteristicas > p{
margin-bottom: 12px;
}
.main-principal{
display: grid;
grid-template-columns: repeat( 4, 120px);
height: 14px;
width: 200px;
top: 12px;
background-color: #000;
position: absolute;
left:55%;
grid-gap: 45px;
min-width: 200px;
max-width: 300px;
}
.titulo{
    height: auto;
    min-width: 50%;

    width: 170%;
    width: 170%;
    width: 180%;

    top: 10pc;
    position: relative;
    left:0;
    z-index: -1;
    margin-left: 23px;
}
.titulo > h1{
    margin-left: 0;
}
#strart1{
    color: #000;
}
#strart2{
    color: #000;
}
#strart3{
    color: #000;
}
#strart4{
    color: #000;
}
#strart5{
    color: #000;
}
.product > hr{
    position: relative;
    top: 30px;
}
.product{
    height: auto;
}
.medio{
    position: relative;
    bottom: -30px;
}

.subheader{
background-color:#07093B ;
position: fixed;
top: 70px;
width: 100%;
height: 40px;
display: flex;
flex-direction: row;
z-index: 3;
}
.subheader > p{
    margin-right: 12px;
    margin-top: 12px;
    cursor: pointer;
    color: aliceblue;
}
.subheader > i{
    color: aliceblue;
    margin-top: -20px;
    margin-left: 12px;
    font-size: 25px;
    padding-right: 20px;
    cursor: pointer;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 240px);
   position: relative;
    top: 12%;
    left: 37%;
    margin-right: 23vh;
    width: 32%;
}
.extra{
    border-radius: 12px;
    border:2px solid gray;
    position: relative;
    left: 90%;
    top: 16vh;
    height: 100vh;
    left: 90%;
    top: 16vh;
    height: 100vh;

    left: 101%;
    top: 16vh;
    height: 76vh;
    width: 300px;
}
.extra > p{
    width: 200px;
    padding-left: 12px;
}
.extra > i{
    color: #000;
    position: absolute;
    left: 34%;
    top: 17%;
    font-size: 89%;
    font-weight: 25%;
    cursor: pointer;
}
.extra > h1{
    padding-left: 12px;
    padding-top: 12px;
}
.extra > select{
    position: absolute;
    top: 270px;
    margin-left: 12px;
    border-radius: 5px;
}
.enviar{
    position: absolute;
    left: 34px;
    padding: 12px;
    color: #07093B;
    cursor: pointer;
}
.enviar:hover{
    text-decoration: underline;
}
.extra >.fa-location-dot{
    color:#07093B;
    position: absolute;
    font-size: 1.0em;
    top:205px;
    left:18px;
    padding-right: 12px;
    cursor: pointer;
}
.disponible{
    padding-top: 12px;
    position: absolute;
    top: 224px;
    color: #07093B;
}
.btn1{
    position: absolute;
    top: 300px;
    margin-left:12px ;
    width: 270px;
    background-color: #EEF516;
    border-radius: 12px;
    height: 30px;
    cursor: pointer;
}
.btn1:hover{
    background-color: hsl(56, 92%, 52%);
}
.btn2{
    position: absolute;
    top:350px;
    width: 270px;
    height: 30px;
    margin-left:12px ;
    background-color: #ECA116 ;
    border-radius: 12px;
    cursor: pointer;
}
.btn2:hover{
    background-color: #D18A07 ;
}
.txt1{
    position: absolute;
    top: 390px;
}
.txt2{
    position: absolute;
    top: 420px;
}

.txt3{
    position: absolute;
    top: 420px;
    left: 100px;
    width: 78px;
    cursor: pointer;
    font-size: 12px;
}
.txt3:hover{
    text-decoration: underline;
}
.txt4{
    position: absolute;
    top: 470px;
}
.txt5{
    position: absolute;
    top: 470px;
    left: 108px;
    font-size: 12px;
    cursor: pointer;
    color: #07093B;
}
.txt5:hover{
    text-decoration: underline;
}
.txt6{
    position: absolute;
    top: 500px;

}
.txt7{
    position: absolute;
    top: 500px;
    left: 100px;
}
.masfotos{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    position: absolute;
    grid-gap: 2px;

    top: 190%;

    top: 190%;
    top: 130%;
    left: 5%;
    width: 10%;
    margin-top: 34%;
    z-index: 100;

}
.muestra1 > img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
}
.muestra1 > img:hover{
    border: 2px brown solid;
}
.muestra2 > img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
}
.muestra2 > img:hover{
   
    border: 2px brown solid;
}

.muestra3 > img{
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 5px;
    margin-bottom: 23px;
}
.muestra3 > img:hover{
    border: 2px brown solid;
}
.calificacion{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 104%;
    width: 200px;
    height: 21%;
}
  .estrella{
    color: #ECA116;
  }
  .calificacion > i{

    color: #000;
  }

#estrella2{
color: #ECA116;
}
#estrella1{
  color: #ECA116;
}
#estrella3{
    color: #ECA116;
  }
  #estrella4{
    color: #ECA116;
  }
  #estrella5{
    color: none;
  }
  .estrella1{
    width: 100px;
  }
  #valor{
    position: absolute;
    top: 80%;
    left: 66%;
    z-index: 1;
    width: auto;
  }
  #valor:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  .masfotos > hr{
   z-index: 1;
   width: 300%;
   margin-left:
    12px;
  }
  h4{
    position: absolute;
    top: 140%;
  }
  .cl{
    position: absolute;
    top: 150%;
    height: 10%;
  }
  .ver{
    position: absolute;
    top: 80%;
    color: #07093B;
    &:hover{
        text-decoration: underline;
        color: #07093B;
        cursor: pointer;
    }
  }
  #segundo{
    position: absolute;
    top: 70%;
    left: 5%;
    &:hover{
        cursor: pointer;
        text-decoration: underline;
    }
  }
  #abajo{
    position: absolute;
    top: 70%;
    left: 5%;
  }
  .soporte{
    position: absolute;
    top: 75%;
  }
  .soporte1{
    position: absolute;
    top: 75%;
    left: 33%;
  }
  .desaparecer{
display: none;
  }
  .verm{
    position: absolute;
    top: 90%;
    left: 1%;
    color: #07093B;
    &:hover{
        text-decoration: underline;
        color: #07093B;
        cursor: pointer;
    }
  }
@media screen and (max-width: 700px) {
 .descripcionoriginal{
    position: relative;
    top: 80vh;
    left: 100px;
 }
 .miniaturas{
    display: flex;
    flex-direction: row;
    width: 100%;
 }
 .img1{
    width: 100px;
    height: auto;
    margin: 10px;
 }
 .img2{
    margin: 10px;
    width: 100px;
    height: auto;
 }
 .img3{
    margin: 10px;
    width: 100px;
    height: auto;
 }
 .img4{
    margin: 10px;
    width: 100px;
    height: auto;
 }
 .img5{
    margin: 10px;
    width: 100px;
    height: auto;
 }
 .images{
    width: 200px;
    height: 200px;
    z-index: -2;
    position: absolute;
    left: 20%;
 }
 .images > img{
    width: 100%;
    height: auto;
 }
}