*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color: #000;
    width: 100%;
    height: auto;
}

header{
    width: 100%;
    height: 70%;
    background-color: black;
    box-shadow: 2px 2px 2px 2px  gray;
}
header > nav{
    display: flex;
    justify-content: center;
}

header > nav > ul{
    display: flex;
    flex-direction: row;
}
header > nav > ul > li{
    list-style: none;
    margin: 3%;
}
header > nav > ul > li > a{
    text-decoration: none;
    color: white;
}
header > nav > ul> li >a:hover{
    color: gray;
}
.presentacion{
    width: 100%;
    height: 50%;
    background-color:white;
    margin-top: 4%;
    display: grid;
    grid-template-columns: repeat( 2, 50%);
}
.presentacion > .img{
    width: 100%;
    height: 100%;
}
.presentacion >.nombre{
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
.descripcion{
    width: 95%;
    height: auto;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin: 3%;
    color: #fff;
}
.descripcion > p{
    padding-left:2% ;
    padding-right: 2%;
}
.descripcion > h1{
    padding-left:2% ;
    
}
.informacion{
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.item1>h1{
    margin-left: 6%;
    color: white;
} 
.item1 >p{
    margin-left: 6%;
    padding: 1%;
    cursor: pointer;
    color: white;
}
.item2{
    width: 100%;
    height: 100%;
    color: white;
}
.item2 > h1{
    margin-left: 6%;
}
.item2 > i{
    display: flex;
    flex-direction: row;
    margin-left: 6%;
}
.item2 > p{
    position: relative;
    left: 17%;
    top: -10%;
    cursor: pointer;
}
.item2 > a{
    text-decoration: none;
    padding-left: 6%;
    color: #fff;
    position: relative;
    left: 12%;
    top: -10%;
    cursor: pointer;}
.item3> p{

    padding: 1%;
    cursor: pointer;
    margin-left: 6%;
    color: #fff;
    width: auto;
}
.item3 > h1{
    width: auto;
    margin-left: 6%;
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
.hojadevida{
    width: 50%;
    height: auto;
    position: absolute;
    top: 300%;
    left: 26%;


}
.hojadevida > p>a{
    width:100%;
    height: 150%;
    text-decoration: none;
    border:  2px gray solid;
    border-radius: 12px ;
    color: white;
}
.hojadevida > p> a:hover{
    color: gray;
}
.hojadevida >p{
    display: flex;
    justify-content: center;
    width: 23%;
    align-items: center;
    height: 18%;
    position: relative;
    left: 36%;
}
.trabajos{
    width: 95%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3%;
    margin-top: 5%;
    margin-left: 2px;
}
.trabajo{
    width: 90%;
    height: 100%;
    border-radius: 12px;
    border: gray 2px solid;
}
.trabajo >a> img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.trabajo > a>img:hover{
    opacity: 39%;
}
.trabajos > .titulo{
    display: grid;
    grid-column: 1/-1;
    grid-row: 1;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}
 #hamburguesa{
display: none;
}
.menu1{
    position: absolute;
    top: 6.6%;
    right: 2%;
    display: block;
    background-color: #000;
    transition: all ease 2s;
}
.menu{
    display: flex;
    justify-content: center;

}
.contacto{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    position: absolute;
    top: 340%;
}
.contacto >.titulo{
    display: grid;
    grid-column: 1/-1;
    grid-row: 1;
    justify-content: center;
    padding-bottom: 6%;
    color: #fff;
}
.contacto > .medio{
    display: flex;
    justify-content: center;
    color: #fff;
}
.contacto >.medio >a{
    color: #fff;
    font-size: 300%;
}
@media screen and (max-width: 600px) {
    .informacion{
        width: 85%;
        height: auto;
        gap: 5%;
    }
    .contacto>.medio>a{
        font-size: 150%;
    }
    .trabajos{
            position: absolute;
            top: 240%;

    }
    .contacto{
    position: absolute;
    top:1360%;
    width: 100%;
    }
    .hojadevida{
        position: absolute;
        top: 1330%;
        margin-right: 45%;
    }
    .hojadevida >p {
        display: flex;
        justify-content: center;
        width: 60%;
        align-items: center;
        height: 18%;
        position: relative;
        left: 22%;
    }
    .hojadevida > p> a{
        font-size: 13px;
        display: flex;
        justify-content: center;
    }
    .presentacion{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 100%);
        gap: 3%;
        overflow: hidden;
    }

    .presentacion >.img{
        margin-left: 0;
    }
    header{
        width: 30%;
        height:50%;
        background-color:transparent;
        position: absolute;
        top: 7%;
        right: 0;
        overflow: hidden;
        box-shadow: none;
    }
    .menu{
        width: 50%;
        height: auto;
        background-color: #000;
        display: block;
        position: absolute;
        top: 7%;
        right: -100%;
        transition: all ease 2s;
    }
    #hamburguesa{
        color: red;
        z-index: 5;
        font-size: 1.6em;
        position: absolute;
        top: 6%;
        right: 2%;
        display: flex;
    }
    .presentacion{
        margin-top: 20%;
    }
}