

.h1{
    text-align: center;
    
}

.box-1{

width: 250px;
height: 250px;
    border: 7px  solid black;
    float: left;
    margin: 12px;
    text-align: justify;
    padding: 10px 10px;
}

/*borde dashed */
.box-2{
    width: 250px;
    height: 250px;
    border: 7px dashed red;
    float: left;
    margin: 12px;
    text-align: justify;
    padding: 10px 10px;
}
    
/*borde dotted*/
.box-3{
    height: 250px;
    width: 250px;
    border: 5px dotted rgb(38, 12, 210); 
    float: left;
    margin: 12px;
    text-align: justify;
    padding: 10px 10px;
}
.box-4{
    width: 250px;
    height: 250px;
    border: 8px double  rgb(57, 8, 92);
    float: left;
    margin: 12px;
    text-align: justify;
    padding: 10px 10px;
}
/*borde double*/